<p>Your post has been submitted successfully</p>
<a href="http://www.linkedin.com/groups/Mayanks-First-Group-4588653">View the post on LinkedIn</a>&nbsp;|&nbsp;
<%= link_to "Make Another Post", :controller => "post", :action => "new" %>
